@import url(fonts.css);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a 
{
    text-decoration: none;
}

ul 
{
    list-style: none;
}

body 
{
    font-family: "Roboto";
    font-weight: 700;
}

.container
{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header__nav .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu
{
    display: flex;
}

.header__menu li
{
    margin: 43px 15px;
}

.header__logo
{
    margin-top: 20px;
    margin-right: 278px;
}

.header__link
{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #3A3838;
}

.header__link:hover
{
    color: #EF4423;
    transition: 500ms;
}

.header__baner
{
    margin-top: 15px;
}

.main__box
{
    max-height: 380px;
    height: 100%;
    max-width: 350px;
    width: 100%;
    background: #B71C1C;
}

.main__title
{
    margin: 8px 15px;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}

.main__desc
{
    margin: 0 15px 15px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #EBEBEB;
}

.main__box2
{
    max-height: 380px;
    height: 100%;
    max-width: 350px;
    width: 100%;
    background: #6A1B9A;
}

.main__title2
{
    margin: 13px 15px 9px 15px;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}

.main__desc2
{
    margin: 0 15px 6px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #EBEBEB;
}
   

.main__box3
{
    max-height: 380px;
    height: 100%;
    max-width: 350px;
    width: 100%;
    background: #303F9F;
}

.main__box4
{
    max-width: 350px;
    width: 100%;
    max-height: 380px;
    height: 100%;
    background: #00695C;
}

.main__cards
{
    display: flex;
    justify-content: center;
}

.content__title
{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.main__content .container
{
    display: flex;
    background: #EDEDED;
    max-width: 1400px;
    width: 100%;
    justify-content: center;
}

.box__title
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #3A3838;
}

.content__desc
{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #686868;
}

.content__box
{
    max-width: 540px;
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
}

.box__title
{
    margin-bottom: 30px;
}

footer .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu
{
    display: flex;
}

.footer__menu li
{
    margin: 53px 15px;
}

.footer__link
{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
}

.footer__link:hover
{
    color: #EF4423;
    transition: 500ms;
}

.footer__c .container
{
    display: flex;
    justify-content: center;
    background: #3A3838;
    margin-top: 50px;
    max-width: 1400px;
    width: 100%;
}